<% if @model == 'user' %>
	<h3>検索結果：ユーザー一覧 <%= @content %></h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'run' %>
	<h3>検索結果：関連した投稿タイトル <%= @content %></h3>
  <%= render 'runs/index', runs: @records %>
<% end %>