<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'run' %>
	<h3>Runs search for "<%= @content %>"</h3>
  <%= render 'runs/index', runs: @records %>
<% end %>