<h2>Englisationの3つの特徴</h2>
<div class="about-box">
  <div class="about-content">
    <div class="about-title">
      ①SNS機能
    </div>
    <i class="fas fa-pencil-alt fa-5x"></i>
    <div class="about-body">
      <p>語学はアウトプットが命！！</p>
      <p>映画や音楽で覚えたフレーズを</p>
      <p>オリジナルの表現でつぶやこう！！</p>
    </div>
  </div>
  <div class="about-content">
    <div class="about-title">
      ②レビューを受けられる
    </div>
    <i class="far fa-laugh-wink fa-5x"></i>
    <div class="about-body">
      <p>フィードバックをもらえる！！</p>
      <p>文法的に正しいかのチェックや、</p>
      <p>ナチュラルな表現かが分かる</p>
      <p>ネイティブ講師のレビューあり！！</p>
    </div>
  </div>
  <div class="about-content">
    <div class="about-title">
      ③チャット機能
    </div>
    <i class="far fa-comments fa-5x"></i>
    <div class="about-body">
      <p>ネイティブ講師とチャットで</p>
      <p>リアルタイム学習ができる！！</p>
      <p>積極的にDMを送ってみよう！！</p>
    </div>
  </div>
</div>
<h1 class="about-top-title">Let's dive into English!!</h1>
<div class="registration-button">
  <%= link_to '新規登録はこちら！！', new_user_registration_path, class: "btn btn-success btn-lg" %>
</div>