  <h1 class ="about-content-top">
    <i class="fas fa-running fa-lg"></i>
    Runformationの４つの特徴
  </h1>
  <div class="about-box">
    <div class="about-content">
      <div class="about-title">
        ①ブログ機能
      </div>
      <i class="fas fa-pencil-alt fa-5x"></i>
      <div class="about-body">
        <p>あなたの経験を投稿しよう！</p>
        <p>距離や走った場所、行った練習方法等</p>
        <p>記録を残しておこう！</p>
      </div>
    </div>
    <div class="about-content">
      <div class="about-title">
       ②レビュー、コメント、いいね機能
      </div>
      <i class="far fa-laugh-wink fa-5x"></i>
      <div class="about-body">
       <p>他のユーザーから</p>
       <p>５段階☆評価、コメント、いいねで</p>
        <p>フィードバックが貰える！</p>
      </div>
    </div>
  </div>
  <div class="about-box">
    <div class="about-content">
      <div class="about-title">
        ③フォロー機能
      </div>
      <i class="far fa-comments fa-5x"></i>
      <div class="about-body">
        <p>気になったユーザーをフォローしよう</p>
        <p>気になったユーザーの投稿がわかる</p>
        <p>積極的にコメントを送ってみよう！！</p>
      </div>
    </div>
    <div class="about-content">
      <div class="about-title">
        ④ランキング機能
      </div>
      <i class="fas fa-crown fa-5x"></i>
      <div class="about-body">
        <p>他のユーザーからのいいね数で</p>
        <p>ランキングを表示</p>
        <p>人気の記事がひと目でわかります！</p>
      </div>
    </div>
  </div>
  <h1 class="about-top-title">Let's enjoy Running!</h1>
  <div class="registration-button">
    <%= link_to  new_user_registration_path, class: "btn btn-warning btn-lg " do %>
      <i class="fas fa-user-plus">新規登録はこちら</i>
    <% end %>
  </div>