  <div class='container'>
    <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Editing Run</h1>
        <%= render 'layouts/errors', obj: @run %> <!--obj:オブジェクト-->
        <%= render 'form', run: @run %>
        <%= link_to 'Show', run_path(@run), class: "run_#{@run.id}" %> |
        <%= link_to 'Back', runs_path, class: "back" %>
      </div>
    </div>
  </div>