/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #ffa600;
}

body {
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #faf0e6;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;

  font-family: 'Caveat', cursive;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  line-height: normal;
}

.box {
   background-image: url('cafewall01.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 70vh;
   width: 100%;
   position: relative;
   background-position: center;
}



.header_button {
  border-radius:  3px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
}

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

h1 {
  text-shadow : 2px 2px 1px rgba(0,0,0,0.2);
}

h2 {
  text-shadow : 2px 2px 1px rgba(0,0,0,0.2);
}

.search-form {
  padding: 5px;
  display: flex;
  justify-content: center;
}



//topページ
.top-text {
  line-height: 100%;
}

.logo-top {
    text-align: center;
   font-size:50px;
  padding: 0.5em 1em;
    margin: 1em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #ffa600;/*左線*/
    border-right: double 7px #ffa600;/*右線*/

}

.text-run{
  text-align: center;
  margin-top: 1em;
}

.box-top{
    text-align: center;
   font-size:50px;
  padding: 1em 1em;
    margin: 0.5em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #ffa600;/*左線*/
    border-right: double 7px #ffa600;/*右線*/
}

.carousel {
   width: 50%;
   margin: auto;
}

.box7{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #ffa600;/*左線*/
    border-right: double 7px #ffa600;/*右線*/
}

.box7 p {
    margin: 0;
    padding: 0;
}

// アバウトページ
.about-top-title {
  font-family: 'Caveat', cursive;
  text-align: center;
  color: blue;
}

.about-box {
  display: flex;
   margin: auto;
}


.about-box i {
  margin-bottom: 20px;
}

.about-content-top {
  text-align: center;
   background-color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 150px;

}

.about-content {
  text-align: center;
  background-color: white;
  padding: 30px;
  margin: 30px;
  border-radius: 150px;
  width: 50%;
}

.registration-button {
  text-align: center;
 margin: 20px;
}

.about-body p {
  font-size: large;
}

.about-title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 15px;
}

//ユーザーページ

.main_group {
  margin: 15px;
  padding: 15px;
  border-radius:  7px;
  border: 5px ridge #31A9EE;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}

//投稿ページ
.ranking-group{
  margin: 15px;
  padding: 15px;
  border-radius:  7px;
  border: 5px ridge #FF8C00;
  box-shadow: 5px 5px 5px rgba(255,140,0,0.25);
}

//tagについて
.tag {
    background-color: #FFCCFF;
    color: #ffffff;
    margin: 15px;
    padding: 5px 5px 5px 10px;
    position: relative;
}

.tag::before {
  position: absolute;
  top: 0;
  left: -15px;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent #f96781 transparent transparent;
  border-style: solid;
  border-width: 13px 15px 13px 0;
}

.tag::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 100%;
}

.tag-group{
  margin: 15px;
  padding: 15px;
  border-radius:  7px;
  border: 5px ridge #FFC0CB;
  box-shadow: 5px 5px 5px rgba(216,191,216,0.5);

}

// ページネーションのCSS
.pagination {
  justify-content: center;

  border-radius: 10px;     /*角を丸くする*/
   border: none;     /*枠線をなくす*/
  color: #696969;

}

.pagination > li > a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 10px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 10px;    /*角を丸くする*/
}

