/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

header {
  font-family: 'Kosugi Maru', sans-serif;
}

body {
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #faf0e6;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;

  font-family: 'Caveat', cursive;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// TOPページ
.box {
   background-image: url('cafewall01.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 70vh;
   width: 100%;
   position: relative;
   background-position: center;
}


.logo {
  margin-top : 5px;
  padding: 5px;
  border-radius:  3px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
}

.header_button {
  border-radius:  3px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
}




.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  line-height: normal;
}

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.search-form {
  padding: 5px;
  display: flex;
  justify-content: center;
}

// アバウトページ
.about-top-title {
  font-family: 'Caveat', cursive;
  text-align: center;
  color: blue;
}

.about-box {
  display: flex;
}

.about-box i {
  margin-bottom: 20px;
}

.about-content {
  background-color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  width: 30%;
}

.registration-button {
  text-align: center;
}

.about-body p {
  font-size: large;
}

.about-title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 15px;
}

