//tagについて
.tag {
    background-color: #f96781;
    color: #ffffff;
    margin: 15px;
    padding: 5px 5px 5px 10px;
    position: relative;
}
 
.tag::before {
  position: absolute;
  top: 0;
  left: -15px;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent #f96781 transparent transparent;
  border-style: solid;
  border-width: 13px 15px 13px 0;
}
.tag::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 100%;
}