<div class='bg-dark text-white'>
  <div class='container'>
    <div class='row'>
      <div class='mx-auto text-center'>
        <p>Copyright © 2021 Runformation All Rights Reserved.</p>
      </div>

      <div class='mx-auto text-right'>
        <ul class='navbar-nav ml-auto'>
         <li><%= link_to "Topへ", root_path,class:"fas fa-home nav-link text-light" %></li>
       </ul>
      </div>

    </div>
  </div>
</div>